body {
    color: #15442d
}

body > div {
    margin:10px;
    padding:10px;
    background:#eee;
    border-radius:10px;
}

h1{
    color: #351538  
}

h2{
    color: #2f0f30 
}

h3{
    color: #000000
}

h4{
    color: #16204b  
}

p{
    color: #185253
}

